<div class="main row">
    <div class="col-md-12">
        <br>
        <h2>Courses</h2>
        <hr />

        <table class="table" style="background: white;">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Course Code</th>
                    <th>Course Description </th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                    <tr>
                        <td>{{ courseId }}</td>
                        <td>
                            <a href="/course/{{courseId}}">{{ courseCode }} {{ lastName }}</a>
                        </td>
                        <td><a href="/students?course={{courseId}}">{{ courseDescription}}</a></td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="3"> No Students</td>
                    </tr>
                {{/each}}
            </tbody>

        </table>

        
    </div>
    {{#unless students }}
    <div class="col-md-12 text-center">
        <strong> {{ message }}</strong>
    </div>
    {{/unless }}
</div>